/*basic reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', system-ui, sans-serif;
}

body, html {
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(60px, auto) repeat(6, 60px);
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.display {
    grid-column: span 4;
    background: #222;
    color: #0f0;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
}

#clear {
    grid-column: span 3;
}

#equal {
    grid-column: span 2;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
}

button:hover {
    background-color: #ddd;
}
